<!DOCTYPE html>
<html lang="" ng-app="dimApp" ng-csp>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Destiny App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">
  
</head>

<body ng-app="dimApp" ng-strict-di>
  <div ng-controller="dimAppCtrl as app" ng-click="app.about = false; trackActivity()">
    <div id="header">
      <div class="content">
        <span class="header-right">
          <div dim-platform-choice class="header-right"></div>
          <div dim-search-filter class="header-right"></div>
          <div class="header-right" id="actions">
            <span class="link" ng-click="app.refresh($event)" title="Refresh Destiny Data"><i ng-class="{'fa-spin': loadingTracker.active()}" class="fa fa-refresh"></i></span>
            <span class="link" ng-click="app.showSetting($event)" title="Settings"><i class="fa fa-cog"></i></span>
            <span class="link" ng-click="app.showFilters($event)" title="Filters"><i class="fa fa-filter"></i></span>
          </div>
        </span>
        <span class="logo">Destiny App</span>
        
      </div>
    </div>
    <script>
	   var apiKey = "e821459548fc4e718e647223ee29f274";
	 
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "https://www.bungie.net/platform/Destiny/Manifest/InventoryItem/1274330687/", true);
		xhr.setRequestHeader("X-API-Key", apiKey);
		 
		xhr.onreadystatechange = function(){
		 if(this.readyState === 4 && this.status === 200){
		  var json = JSON.parse(this.responseText);
		  console.log(json.Response.data.inventoryItem.itemName); //Gjallarhorn
		 }
		}
		 
		xhr.send();
	</script>
  </div>

  <!-- <script src="scripts/scripts.min.js?v=3.1.17"></script> -->
</body>

</html>
