<!DOCTYPE html>
<html lang="" ng-app="dimApp" ng-csp>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Destiny App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">
  
</head>

<body ng-app="dimApp" ng-strict-di>
  <div ng-controller="dimAppCtrl as app" ng-click="app.about = false; trackActivity()">
    <div id="header">
      <div class="content">
        <span class="header-right">
          <div dim-platform-choice class="header-right"></div>
          <div dim-search-filter class="header-right"></div>
          <div class="header-right" id="actions">
            <span class="link" ng-click="app.refresh($event)" title="Refresh Destiny Data"><i ng-class="{'fa-spin': loadingTracker.active()}" class="fa fa-refresh"></i></span>
            <span class="link" ng-click="app.showSetting($event)" title="Settings"><i class="fa fa-cog"></i></span>
            <span class="link" ng-click="app.showFilters($event)" title="Filters"><i class="fa fa-filter"></i></span>
          </div>
        </span>
        <span class="logo">Destiny App</span>
        
      </div>
    </div>
	  
	<img id="Subclass" src="#" title="Subclass"></img>
	<img id="Primary_Weapon" src="#" title="Primary_Weapon"></img>
	<img id="Special_Weapon" src="#" title="Special_Weapon"></img>
	<img id="Heavy_Weapon" src="#" title="Heavy_Weapon"></img>
	<img id="Ghost" src="#" title="Ghost"></img>
	<img id="Helmet" src="#" title="Helmet"></img>
	<img id="Gauntlets" src="#" title="Gauntlets"></img>
	<img id="Chest" src="#" title="Chest"></img>
	<img id="Leg" src="#" title="Leg"></img>
	<img id="Class_Item" src="#" title="Class_Item"></img>
	<img id="Artifact" src="#" title="Artifact"></img>

	<script src="scripts/DestinyApp.js"></script> 
  </div>

  <!-- <script src="scripts/scripts.min.js?v=3.1.17"></script> -->
</body>

</html>
